@page "/"
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@using SwiftMart.Data
@using SwiftMart.Models
@inject SWdbcontext dbContext
@inject NavigationManager Navigation

<PageTitle>HomePage</PageTitle>

<div class="my-14 text-center">
    <h1 class="text-xl">
        Welcome to SwiftMart, where every scent tells a story.<br /><br /><p class="text-md">
            Immerse yourself in a world of olfactory delights, curated to captivate and elevate your senses.

            From timeless classics to modern marvels, our collection boasts an array of luxurious fragrances for every style and occasion. Whether you seek the allure of floral bouquets, the sophistication of woody notes, or the intrigue of exotic blends, our selection promises to enchant even the most discerning connoisseurs.

            Crafted by renowned perfumers and coveted by aficionados worldwide, each bottle in our selection embodies elegance, quality, and sophistication.

            Explore our virtual aisles and uncover your signature scent today. Let every spritz transport you to a realm of elegance and allure. Welcome to a world where fragrance becomes art."
        </p>
    </h1>
</div>
<div class=" mb-5 items-center bg-base-300 ">
    @if (products != null && products.Any())
    {
        <div class="grid gap-6 px-10 grid-cols-4">
            @foreach (var product in products)
            {
                <div class="card w-64 h-auto m-12 bg-base-100 shadow-xl  cursor-pointer transform motion-safe:hover:scale-110 " @onclick="() => NavigateToProductDetails(product.Id.ToString())">
                    <figure>
                        <img class="h-40 object-contain" src="@($"data:image/png;base64,{Convert.ToBase64String(product.ImageData)}")" alt="Product Image" />
                    </figure>
                    <div class="card-body">
                        <h2 clas="card-title">@product.Name</h2>
                        <div class="card-action justify-content-end">
                            <h3 class="badge badge-outline">$@product.Price</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    else
    {
        <span class="loading loading-bars loading-xs"></span>
    }
</div>
@code {
    List<SwiftMart.Models.Product> products;
    protected override async Task OnInitializedAsync()
    {
        // Retrieve products from the database
        products = await dbContext.Products.ToListAsync();
    }
    private void NavigateToProductDetails(string productId)
    {
        Navigation.NavigateTo($"/products/{productId}");
    }
}
