@page "/"
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@using SwiftMart.Data
@using SwiftMart.Models
@inject SWdbcontext dbContext
@inject NavigationManager Navigation
<PageTitle>HomePage</PageTitle>
@if (products != null && products.Any())
{
    <div class="grid gap-7 mb-8 xl:grid-cols-4 bg-base-200">
        @foreach (var product in products)
        {
            <div class="card w-96 bg-base-100 shadow-xl cursor-pointer transform motion-safe:hover:scale-110 " @onclick="() => NavigateToProductDetails(product.Id.ToString())">
                <figure>
                    <img class="w-full h-80 object-contain" src="@($"data:image/png;base64,{Convert.ToBase64String(product.ImageData)}")" alt="Product Image" />
                </figure>
                <div class="card-body">
                    <h2 clas="card-title">@product.Name</h2>
                    <div class="card-action justify-content-end">
                        <h3 class="badge badge-outline">$@product.Price</h3>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No products found.</p>
}
@code {
    List<SwiftMart.Models.Product> products;
    protected override async Task OnInitializedAsync()
    {
        // Retrieve products from the database
        products = await dbContext.Products.ToListAsync();
    }
    private void NavigateToProductDetails(string productId)
    {
        Navigation.NavigateTo($"/products/{productId}");
    }
}
